# Omitir env del lab1
ejercicios/lab1/env
ejercicios/e1/env
ejercicios/lab1/__pycache__
ejercicios/lab2/env
ejercicios/lab2/__pycache__
ejercicios/*.zip
ejercicios/lab1B/*.zip
env
ejercicios/lab2B/*.zip
ejercicios/lab1B/.ipynb_checkpoints/
ejercicios/lab1B/__pycache__/
